---

<center> <h1> <span style='color:#8A2BE2'> CREWES Data Science Training </span> </h1> </center>

<center> <h2> <span style='color:#7FFFD4'> Restaurant Revenue Prediction  </span> </h2> </center>

---

In this [Jupyter Notebook](https://jupyter.org/install) we will analyze [Restaurant Revenue Prediction](https://www.kaggle.com/code/akouaorsot/restaurant-revenue-s-predictions)

## Predicting annual restaurant sales based on objective measurements

TFI has provided a dataset with 137 restaurants in the training set, and a test set of 100000 restaurants. The data columns include the open date, location, city type, and three categories of obfuscated data: Demographic data, Real estate data, and Commercial data. The revenue column indicates a (transformed) revenue of the restaurant in a given year and is the target of predictive analysis. 

### Data fields

* **Id** : Restaurant id. 
* **Open Date** : opening date for a restaurant
* **City** : City that the restaurant is in. Note that there are unicode in the names. 
* **City Group**: Type of the city. Big cities, or Other. 
* **Type**: Type of the restaurant. FC: Food Court, IL: Inline, DT: Drive Thru, MB: Mobile
* **P1, P2 - P37**: There are three categories of these obfuscated data. Demographic data are gathered from third party providers with GIS systems. These include population in any given area, age and gender distribution, development scales. Real estate data mainly relate to the m2 of the location, front facade of the location, car park availability. Commercial data mainly include the existence of points of interest including schools, banks, other QSR operators.
* **Revenue**: The revenue column indicates a (transformed) revenue of the restaurant in a given year and is the target of predictive analysis. Please note that the values are transformed so they don't mean real dollar values.

#### Loading Data

In [1]:
#Warning and deprecated messages

import warnings
warnings.filterwarnings("ignore")

#Core

import numpy as np
import pandas as pd

#Visualization

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### Reading Files

In [2]:
test = pd.read_csv("test.csv.zip")
test

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,01/05/2000,Antalya,Other,FC,5,5.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
99996,99996,07/18/2011,Niğde,Other,IL,1,2.0,4.0,3.0,1,...,1.0,3.0,5,0,0,0,4,0,0,0
99997,99997,12/29/2012,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,1,...,4.0,1.0,5,5,3,2,4,4,4,2
99998,99998,10/12/2013,İstanbul,Big Cities,FC,12,7.5,6.0,6.0,4,...,7.5,5.0,0,0,0,4,0,0,0,0
99999,99999,10/05/2010,İstanbul,Big Cities,IL,2,5.0,4.0,4.0,2,...,5.0,3.0,0,2,0,2,2,4,2,0

In [3]:
test.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0

In [4]:
print(test.shape)

(100000, 42)

In [5]:
train = pd.read_csv("train.csv.zip")
train

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,132,06/25/2008,Trabzon,Other,FC,2,3.0,3.0,5.0,4,...,3.0,0,0,0,0,0,0,0,0,5787594.0
133,133,10/12/2006,İzmir,Big Cities,FC,4,5.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,9262754.0
134,134,07/08/2006,Kayseri,Other,FC,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,2544857.0
135,135,10/29/2010,İstanbul,Big Cities,FC,4,5.0,4.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,7217634.0
136,136,09/01/2009,İstanbul,Big Cities,FC,4,5.0,3.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,6363241.0

In [6]:
train.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [7]:
print(train.shape)

(137, 43)

#### Checking data types

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Id          100000 non-null  int64
 1   Open Date   100000 non-null  object
 2   City        100000 non-null  object
 3   City Group  100000 non-null  object
 4   Type        100000 non-null  object
 5   P1          100000 non-null  int64
 6   P2          100000 non-null  float64
 7   P3          100000 non-null  float64
 8   P4          100000 non-null  float64
 9   P5          100000 non-null  int64
 10  P6          100000 non-null  int64
 11  P7          100000 non-null  int64
 12  P8          100000 non-null  int64
 13  P9          100000 non-null  int64
 14  P10         100000 non-null  int64
 15  P11         100000 non-null  int64
 16  P12         100000 non-null  int64
 17  P13         100000 non-null  float64
 18  P14         100000 non-null  int64
 19  P15         100000 non-null  int64
 20  P16         100000 non-null  int64
 21  P17         100000 non-null  int64
 22  P18         100000 non-null  int64
 23  P19         100000 non-null  int64
 24  P20         100000 non-null  int64
 25  P21         100000 non-null  int64
 26  P22         100000 non-null  int64
 27  P23         100000 non-null  int64
 28  P24         100000 non-null  int64
 29  P25         100000 non-null  int64
 30  P26         100000 non-null  float64
 31  P27         100000 non-null  float64
 32  P28         100000 non-null  float64
 33  P29         100000 non-null  float64
 34  P30         100000 non-null  int64
 35  P31         100000 non-null  int64
 36  P32         100000 non-null  int64
 37  P33         100000 non-null  int64
 38  P34         100000 non-null  int64
 39  P35         100000 non-null  int64
 40  P36         100000 non-null  int64
 41  P37         100000 non-null  int64
dtypes: float64(8), int64(30), object(4)
memory usage: 32.0+ MB

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          137 non-null    int64
 1   Open Date   137 non-null    object
 2   City        137 non-null    object
 3   City Group  137 non-null    object
 4   Type        137 non-null    object
 5   P1          137 non-null    int64
 6   P2          137 non-null    float64
 7   P3          137 non-null    float64
 8   P4          137 non-null    float64
 9   P5          137 non-null    int64
 10  P6          137 non-null    int64
 11  P7          137 non-null    int64
 12  P8          137 non-null    int64
 13  P9          137 non-null    int64
 14  P10         137 non-null    int64
 15  P11         137 non-null    int64
 16  P12         137 non-null    int64
 17  P13         137 non-null    float64
 18  P14         137 non-null    int64
 19  P15         137 non-null    int64
 20  P16         137 non-null    int64
 21  P17         137 non-null    int64
 22  P18         137 non-null    int64
 23  P19         137 non-null    int64
 24  P20         137 non-null    int64
 25  P21         137 non-null    int64
 26  P22         137 non-null    int64
 27  P23         137 non-null    int64
 28  P24         137 non-null    int64
 29  P25         137 non-null    int64
 30  P26         137 non-null    float64
 31  P27         137 non-null    float64
 32  P28         137 non-null    float64
 33  P29         137 non-null    float64
 34  P30         137 non-null    int64
 35  P31         137 non-null    int64
 36  P32         137 non-null    int64
 37  P33         137 non-null    int64
 38  P34         137 non-null    int64
 39  P35         137 non-null    int64
 40  P36         137 non-null    int64
 41  P37         137 non-null    int64
 42  revenue     137 non-null    float64
dtypes: float64(9), int64(30), object(4)
memory usage: 46.1+ KB

#### Converting date (Object) to date type

In [10]:
test["Open Date"] = pd.to_datetime(test["Open Date"], format = "%m/%d/%Y")
train["Open Date"] = pd.to_datetime(train["Open Date"], format = "%m/%d/%Y")

In [11]:
test.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,2011-01-22,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,2011-03-18,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,2013-10-30,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,2013-05-06,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,2013-07-31,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0

In [12]:
train.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,1999-07-17,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,2008-02-14,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,2013-03-09,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,2012-02-02,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,2009-05-09,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Id          100000 non-null  int64
 1   Open Date   100000 non-null  datetime64[ns]
 2   City        100000 non-null  object
 3   City Group  100000 non-null  object
 4   Type        100000 non-null  object
 5   P1          100000 non-null  int64
 6   P2          100000 non-null  float64
 7   P3          100000 non-null  float64
 8   P4          100000 non-null  float64
 9   P5          100000 non-null  int64
 10  P6          100000 non-null  int64
 11  P7          100000 non-null  int64
 12  P8          100000 non-null  int64
 13  P9          100000 non-null  int64
 14  P10         100000 non-null  int64
 15  P11         100000 non-null  int64
 16  P12         100000 non-null  int64
 17  P13         100000 non-null  float64
 18  P14         100000 non-null  int64
 19  P15         100000 non-null  int64
 20  P16         100000 non-null  int64
 21  P17         100000 non-null  int64
 22  P18         100000 non-null  int64
 23  P19         100000 non-null  int64
 24  P20         100000 non-null  int64
 25  P21         100000 non-null  int64
 26  P22         100000 non-null  int64
 27  P23         100000 non-null  int64
 28  P24         100000 non-null  int64
 29  P25         100000 non-null  int64
 30  P26         100000 non-null  float64
 31  P27         100000 non-null  float64
 32  P28         100000 non-null  float64
 33  P29         100000 non-null  float64
 34  P30         100000 non-null  int64
 35  P31         100000 non-null  int64
 36  P32         100000 non-null  int64
 37  P33         100000 non-null  int64
 38  P34         100000 non-null  int64
 39  P35         100000 non-null  int64
 40  P36         100000 non-null  int64
 41  P37         100000 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(30), object(3)
memory usage: 32.0+ MB

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          137 non-null    int64
 1   Open Date   137 non-null    datetime64[ns]
 2   City        137 non-null    object
 3   City Group  137 non-null    object
 4   Type        137 non-null    object
 5   P1          137 non-null    int64
 6   P2          137 non-null    float64
 7   P3          137 non-null    float64
 8   P4          137 non-null    float64
 9   P5          137 non-null    int64
 10  P6          137 non-null    int64
 11  P7          137 non-null    int64
 12  P8          137 non-null    int64
 13  P9          137 non-null    int64
 14  P10         137 non-null    int64
 15  P11         137 non-null    int64
 16  P12         137 non-null    int64
 17  P13         137 non-null    float64
 18  P14         137 non-null    int64
 19  P15         137 non-null    int64
 20  P16         137 non-null    int64
 21  P17         137 non-null    int64
 22  P18         137 non-null    int64
 23  P19         137 non-null    int64
 24  P20         137 non-null    int64
 25  P21         137 non-null    int64
 26  P22         137 non-null    int64
 27  P23         137 non-null    int64
 28  P24         137 non-null    int64
 29  P25         137 non-null    int64
 30  P26         137 non-null    float64
 31  P27         137 non-null    float64
 32  P28         137 non-null    float64
 33  P29         137 non-null    float64
 34  P30         137 non-null    int64
 35  P31         137 non-null    int64
 36  P32         137 non-null    int64
 37  P33         137 non-null    int64
 38  P34         137 non-null    int64
 39  P35         137 non-null    int64
 40  P36         137 non-null    int64
 41  P37         137 non-null    int64
 42  revenue     137 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(30), object(3)
memory usage: 46.1+ KB

#### Checking for dulicates rows

In [15]:
test.duplicated().sum()

0

In [16]:
train.duplicated().sum()

0

#### Checking for missing values

In [17]:
test.isna().sum()

Id            0
Open Date     0
City          0
City Group    0
Type          0
P1            0
P2            0
P3            0
P4            0
P5            0
P6            0
P7            0
P8            0
P9            0
P10           0
P11           0
P12           0
P13           0
P14           0
P15           0
P16           0
P17           0
P18           0
P19           0
P20           0
P21           0
P22           0
P23           0
P24           0
P25           0
P26           0
P27           0
P28           0
P29           0
P30           0
P31           0
P32           0
P33           0
P34           0
P35           0
P36           0
P37           0
dtype: int64

In [18]:
train.isna().sum()

Id            0
Open Date     0
City          0
City Group    0
Type          0
P1            0
P2            0
P3            0
P4            0
P5            0
P6            0
P7            0
P8            0
P9            0
P10           0
P11           0
P12           0
P13           0
P14           0
P15           0
P16           0
P17           0
P18           0
P19           0
P20           0
P21           0
P22           0
P23           0
P24           0
P25           0
P26           0
P27           0
P28           0
P29           0
P30           0
P31           0
P32           0
P33           0
P34           0
P35           0
P36           0
P37           0
revenue       0
dtype: int64

#### Statistical Description

In [19]:
test.describe().T # Statistics of numerical columns

,count,mean,std,min,25%,50%,75%,max
Id,100000.0,49999.500000,28867.657797,0.0,24999.75,49999.5,74999.25,99999.0
P1,100000.0,4.088030,2.812963,1.0,2.00,3.0,4.00,15.0
P2,100000.0,4.428085,1.428865,1.0,3.75,5.0,5.00,7.5
P3,100000.0,4.215325,0.842161,0.0,4.00,4.0,4.00,6.0
P4,100000.0,4.396025,1.035827,2.0,4.00,4.0,5.00,7.5
P5,100000.0,1.989590,1.065314,1.0,1.00,2.0,2.00,6.0
P6,100000.0,2.881900,1.531429,1.0,2.00,2.0,4.00,10.0
P7,100000.0,5.300510,2.178580,1.0,5.00,5.0,5.00,10.0
P8,100000.0,4.931000,1.718490,1.0,4.00,5.0,5.00,10.0
P9,100000.0,5.251380,1.702632,4.0,4.00,5.0,5.00,10.0
P10,100000.0,5.458970,1.763601,4.0,5.00,5.0,5.00,10.0
P11,100000.0,3.311720,2.068118,1.0,2.00,3.0,4.00,10.0
P12,100000.0,5.061440,1.765383,2.0,4.00,5.0,5.00,10.0
P13,100000.0,5.086630,0.979339,3.0,5.00,5.0,5.00,7.5
P14,100000.0,1.280090,2.496782,0.0,0.00,0.0,2.00,15.0
P15,100000.0,1.305530,2.166949,0.0,0.00,0.0,2.00,10.0
P16,100000.0,1.747070,3.172012,0.0,0.00,0.0,3.00,15.0
P17,100000.0,1.156880,2.432646,0.0,0.00,0.0,2.00,15.0
P18,100000.0,1.708470,3.030527,0.0,0.00,0.0,4.00,15.0
P19,100000.0,5.191120,5.785529,1.0,2.00,3.0,5.00,25.0
P20,100000.0,4.570860,3.612430,1.0,2.00,4.0,5.00,15.0
P21,100000.0,2.542380,2.526046,1.0,1.00,2.0,3.00,15.0
P22,100000.0,2.430380,1.363184,1.0,1.00,2.0,3.00,5.0
P23,100000.0,3.639980,4.719160,1.0,1.00,2.0,4.00,25.0
P24,100000.0,1.234450,2.097457,0.0,0.00,0.0,2.00,10.0
P25,100000.0,1.244110,2.084731,0.0,0.00,0.0,2.00,10.0
P26,100000.0,1.279665,2.309640,0.0,0.00,0.0,2.00,12.5
P27,100000.0,1.164440,2.179495,0.0,0.00,0.0,2.00,12.5
P28,100000.0,3.233785,2.136694,1.0,2.00,3.0,4.00,12.5
P29,100000.0,3.084000,1.783927,0.0,2.00,3.0,3.00,10.0
P30,100000.0,2.083300,4.309479,0.0,0.00,0.0,3.00,25.0
P31,100000.0,1.193330,2.307944,0.0,0.00,0.0,1.00,15.0
P32,100000.0,1.942640,3.971298,0.0,0.00,0.0,3.00,25.0
P33,100000.0,0.987430,1.534808,0.0,0.00,0.0,2.00,6.0
P34,100000.0,2.108670,4.685414,0.0,0.00,0.0,3.00,30.0
P35,100000.0,1.832830,3.228769,0.0,0.00,0.0,4.00,15.0
P36,100000.0,1.968890,3.805773,0.0,0.00,0.0,3.00,20.0
P37,100000.0,0.973500,1.677267,0.0,0.00,0.0,2.00,8.0

In [20]:
test.describe(include = "object").T # Statistics of the categorical (object) column

             count unique       top   freq
City        100000     57  İstanbul  34087
City Group  100000      2     Other  50728
Type        100000      4        FC  57019

In [21]:
test.describe(include = "all").T # Numeric and categoric columns

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
Id,100000.0,NaN,NaN,NaN,NaT,NaT,49999.5,28867.657797,0.0,24999.75,49999.5,74999.25,99999.0
Open Date,100000,310,2013-07-10 00:00:00,645,1995-05-08,2014-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,100000,57,İstanbul,34087,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City Group,100000,2,Other,50728,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Type,100000,4,FC,57019,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P1,100000.0,NaN,NaN,NaN,NaT,NaT,4.08803,2.812963,1.0,2.0,3.0,4.0,15.0
P2,100000.0,NaN,NaN,NaN,NaT,NaT,4.428085,1.428865,1.0,3.75,5.0,5.0,7.5
P3,100000.0,NaN,NaN,NaN,NaT,NaT,4.215325,0.842161,0.0,4.0,4.0,4.0,6.0
P4,100000.0,NaN,NaN,NaN,NaT,NaT,4.396025,1.035827,2.0,4.0,4.0,5.0,7.5
P5,100000.0,NaN,NaN,NaN,NaT,NaT,1.98959,1.065314,1.0,1.0,2.0,2.0,6.0
P6,100000.0,NaN,NaN,NaN,NaT,NaT,2.8819,1.531429,1.0,2.0,2.0,4.0,10.0
P7,100000.0,NaN,NaN,NaN,NaT,NaT,5.30051,2.17858,1.0,5.0,5.0,5.0,10.0
P8,100000.0,NaN,NaN,NaN,NaT,NaT,4.931,1.71849,1.0,4.0,5.0,5.0,10.0
P9,100000.0,NaN,NaN,NaN,NaT,NaT,5.25138,1.702632,4.0,4.0,5.0,5.0,10.0
P10,100000.0,NaN,NaN,NaN,NaT,NaT,5.45897,1.763601,4.0,5.0,5.0,5.0,10.0
P11,100000.0,NaN,NaN,NaN,NaT,NaT,3.31172,2.068118,1.0,2.0,3.0,4.0,10.0
P12,100000.0,NaN,NaN,NaN,NaT,NaT,5.06144,1.765383,2.0,4.0,5.0,5.0,10.0
P13,100000.0,NaN,NaN,NaN,NaT,NaT,5.08663,0.979339,3.0,5.0,5.0,5.0,7.5
P14,100000.0,NaN,NaN,NaN,NaT,NaT,1.28009,2.496782,0.0,0.0,0.0,2.0,15.0
P15,100000.0,NaN,NaN,NaN,NaT,NaT,1.30553,2.166949,0.0,0.0,0.0,2.0,10.0
P16,100000.0,NaN,NaN,NaN,NaT,NaT,1.74707,3.172012,0.0,0.0,0.0,3.0,15.0
P17,100000.0,NaN,NaN,NaN,NaT,NaT,1.15688,2.432646,0.0,0.0,0.0,2.0,15.0
P18,100000.0,NaN,NaN,NaN,NaT,NaT,1.70847,3.030527,0.0,0.0,0.0,4.0,15.0
P19,100000.0,NaN,NaN,NaN,NaT,NaT,5.19112,5.785529,1.0,2.0,3.0,5.0,25.0
P20,100000.0,NaN,NaN,NaN,NaT,NaT,4.57086,3.61243,1.0,2.0,4.0,5.0,15.0
P21,100000.0,NaN,NaN,NaN,NaT,NaT,2.54238,2.526046,1.0,1.0,2.0,3.0,15.0
P22,100000.0,NaN,NaN,NaN,NaT,NaT,2.43038,1.363184,1.0,1.0,2.0,3.0,5.0
P23,100000.0,NaN,NaN,NaN,NaT,NaT,3.63998,4.71916,1.0,1.0,2.0,4.0,25.0
P24,100000.0,NaN,NaN,NaN,NaT,NaT,1.23445,2.097457,0.0,0.0,0.0,2.0,10.0
P25,100000.0,NaN,NaN,NaN,NaT,NaT,1.24411,2.084731,0.0,0.0,0.0,2.0,10.0
P26,100000.0,NaN,NaN,NaN,NaT,NaT,1.279665,2.30964,0.0,0.0,0.0,2.0,12.5
P27,100000.0,NaN,NaN,NaN,NaT,NaT,1.16444,2.179495,0.0,0.0,0.0,2.0,12.5
P28,100000.0,NaN,NaN,NaN,NaT,NaT,3.233785,2.136694,1.0,2.0,3.0,4.0,12.5
P29,100000.0,NaN,NaN,NaN,NaT,NaT,3.084,1.783927,0.0,2.0,3.0,3.0,10.0
P30,100000.0,NaN,NaN,NaN,NaT,NaT,2.0833,4.309479,0.0,0.0,0.0,3.0,25.0
P31,100000.0,NaN,NaN,NaN,NaT,NaT,1.19333,2.307944,0.0,0.0,0.0,1.0,15.0
P32,100000.0,NaN,NaN,NaN,NaT,NaT,1.94264,3.971298,0.0,0.0,0.0,3.0,25.0
P33,100000.0,NaN,NaN,NaN,NaT,NaT,0.98743,1.534808,0.0,0.0,0.0,2.0,6.0
P34,100000.0,NaN,NaN,NaN,NaT,NaT,2.10867,4.685414,0.0,0.0,0.0,3.0,30.0
P35,100000.0,NaN,NaN,NaN,NaT,NaT,1.83283,3.228769,0.0,0.0,0.0,4.0,15.0
P36,100000.0,NaN,NaN,NaN,NaT,NaT,1.96889,3.805773,0.0,0.0,0.0,3.0,20.0
P37,100000.0,NaN,NaN,NaN,NaT,NaT,0.9735,1.677267,0.0,0.0,0.0,2.0,8.0

* Data goes from 1995-05-08 to 2014-01-04
* Istanbul appears with the most frequency although the city group "other" is the most frequent.

In [22]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,137.0,6.800000e+01,3.969257e+01,0.0,34.0,68.0,102.0,136.0
P1,137.0,4.014599e+00,2.910391e+00,1.0,2.0,3.0,4.0,12.0
P2,137.0,4.408759e+00,1.514900e+00,1.0,4.0,5.0,5.0,7.5
P3,137.0,4.317518e+00,1.032337e+00,0.0,4.0,4.0,5.0,7.5
P4,137.0,4.372263e+00,1.016462e+00,3.0,4.0,4.0,5.0,7.5
P5,137.0,2.007299e+00,1.209620e+00,1.0,1.0,2.0,2.0,8.0
P6,137.0,3.357664e+00,2.134235e+00,1.0,2.0,3.0,4.0,10.0
P7,137.0,5.423358e+00,2.296809e+00,1.0,5.0,5.0,5.0,10.0
P8,137.0,5.153285e+00,1.858567e+00,1.0,4.0,5.0,5.0,10.0
P9,137.0,5.445255e+00,1.834793e+00,4.0,4.0,5.0,5.0,10.0
P10,137.0,5.489051e+00,1.847561e+00,4.0,5.0,5.0,5.0,10.0
P11,137.0,3.262774e+00,1.910767e+00,1.0,2.0,3.0,4.0,10.0
P12,137.0,5.299270e+00,1.941668e+00,2.0,4.0,5.0,5.0,10.0
P13,137.0,5.080292e+00,1.036527e+00,3.0,5.0,5.0,5.0,7.5
P14,137.0,1.416058e+00,2.729583e+00,0.0,0.0,0.0,2.0,15.0
P15,137.0,1.386861e+00,2.398677e+00,0.0,0.0,0.0,2.0,10.0
P16,137.0,1.941606e+00,3.505807e+00,0.0,0.0,0.0,3.0,15.0
P17,137.0,1.036496e+00,2.030679e+00,0.0,0.0,0.0,1.0,15.0
P18,137.0,1.941606e+00,3.300549e+00,0.0,0.0,0.0,4.0,12.0
P19,137.0,4.905109e+00,5.604467e+00,1.0,2.0,3.0,5.0,25.0
P20,137.0,4.547445e+00,3.708041e+00,1.0,2.0,4.0,5.0,15.0
P21,137.0,2.270073e+00,2.052630e+00,1.0,1.0,1.0,3.0,15.0
P22,137.0,2.226277e+00,1.230690e+00,1.0,1.0,2.0,3.0,5.0
P23,137.0,3.423358e+00,4.559609e+00,1.0,1.0,2.0,5.0,25.0
P24,137.0,1.372263e+00,2.304112e+00,0.0,0.0,0.0,2.0,10.0
P25,137.0,1.211679e+00,2.133179e+00,0.0,0.0,0.0,2.0,10.0
P26,137.0,1.470803e+00,2.612024e+00,0.0,0.0,0.0,2.5,12.5
P27,137.0,1.145985e+00,2.067039e+00,0.0,0.0,0.0,2.0,12.5
P28,137.0,3.222628e+00,2.308806e+00,1.0,2.0,2.5,4.0,12.5
P29,137.0,3.135036e+00,1.680887e+00,0.0,2.5,3.0,3.0,7.5
P30,137.0,2.729927e+00,5.536647e+00,0.0,0.0,0.0,4.0,25.0
P31,137.0,1.941606e+00,3.512093e+00,0.0,0.0,0.0,3.0,15.0
P32,137.0,2.525547e+00,5.230117e+00,0.0,0.0,0.0,3.0,25.0
P33,137.0,1.138686e+00,1.698540e+00,0.0,0.0,0.0,2.0,6.0
P34,137.0,2.489051e+00,5.165093e+00,0.0,0.0,0.0,3.0,24.0
P35,137.0,2.029197e+00,3.436272e+00,0.0,0.0,0.0,4.0,15.0
P36,137.0,2.211679e+00,4.168211e+00,0.0,0.0,0.0,3.0,20.0
P37,137.0,1.116788e+00,1.790768e+00,0.0,0.0,0.0,2.0,8.0
revenue,137.0,4.453533e+06,2.576072e+06,1149870.0,2999068.0,3939804.0,5166635.0,19696939.0

In [23]:
train.describe(include = "object").T

           count unique         top freq
City         137     34    İstanbul   50
City Group   137      2  Big Cities   78
Type         137      3          FC   76

In [24]:
train.describe(include = "all").T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
Id,137.0,NaN,NaN,NaN,NaT,NaT,68.0,39.692569,0.0,34.0,68.0,102.0,136.0
Open Date,137,134,2010-02-23 00:00:00,2,1996-05-08,2014-01-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,137,34,İstanbul,50,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City Group,137,2,Big Cities,78,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Type,137,3,FC,76,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P1,137.0,NaN,NaN,NaN,NaT,NaT,4.014599,2.910391,1.0,2.0,3.0,4.0,12.0
P2,137.0,NaN,NaN,NaN,NaT,NaT,4.408759,1.5149,1.0,4.0,5.0,5.0,7.5
P3,137.0,NaN,NaN,NaN,NaT,NaT,4.317518,1.032337,0.0,4.0,4.0,5.0,7.5
P4,137.0,NaN,NaN,NaN,NaT,NaT,4.372263,1.016462,3.0,4.0,4.0,5.0,7.5
P5,137.0,NaN,NaN,NaN,NaT,NaT,2.007299,1.20962,1.0,1.0,2.0,2.0,8.0
P6,137.0,NaN,NaN,NaN,NaT,NaT,3.357664,2.134235,1.0,2.0,3.0,4.0,10.0
P7,137.0,NaN,NaN,NaN,NaT,NaT,5.423358,2.296809,1.0,5.0,5.0,5.0,10.0
P8,137.0,NaN,NaN,NaN,NaT,NaT,5.153285,1.858567,1.0,4.0,5.0,5.0,10.0
P9,137.0,NaN,NaN,NaN,NaT,NaT,5.445255,1.834793,4.0,4.0,5.0,5.0,10.0
P10,137.0,NaN,NaN,NaN,NaT,NaT,5.489051,1.847561,4.0,5.0,5.0,5.0,10.0
P11,137.0,NaN,NaN,NaN,NaT,NaT,3.262774,1.910767,1.0,2.0,3.0,4.0,10.0
P12,137.0,NaN,NaN,NaN,NaT,NaT,5.29927,1.941668,2.0,4.0,5.0,5.0,10.0
P13,137.0,NaN,NaN,NaN,NaT,NaT,5.080292,1.036527,3.0,5.0,5.0,5.0,7.5
P14,137.0,NaN,NaN,NaN,NaT,NaT,1.416058,2.729583,0.0,0.0,0.0,2.0,15.0
P15,137.0,NaN,NaN,NaN,NaT,NaT,1.386861,2.398677,0.0,0.0,0.0,2.0,10.0
P16,137.0,NaN,NaN,NaN,NaT,NaT,1.941606,3.505807,0.0,0.0,0.0,3.0,15.0
P17,137.0,NaN,NaN,NaN,NaT,NaT,1.036496,2.030679,0.0,0.0,0.0,1.0,15.0
P18,137.0,NaN,NaN,NaN,NaT,NaT,1.941606,3.300549,0.0,0.0,0.0,4.0,12.0
P19,137.0,NaN,NaN,NaN,NaT,NaT,4.905109,5.604467,1.0,2.0,3.0,5.0,25.0
P20,137.0,NaN,NaN,NaN,NaT,NaT,4.547445,3.708041,1.0,2.0,4.0,5.0,15.0
P21,137.0,NaN,NaN,NaN,NaT,NaT,2.270073,2.05263,1.0,1.0,1.0,3.0,15.0
P22,137.0,NaN,NaN,NaN,NaT,NaT,2.226277,1.23069,1.0,1.0,2.0,3.0,5.0
P23,137.0,NaN,NaN,NaN,NaT,NaT,3.423358,4.559609,1.0,1.0,2.0,5.0,25.0
P24,137.0,NaN,NaN,NaN,NaT,NaT,1.372263,2.304112,0.0,0.0,0.0,2.0,10.0
P25,137.0,NaN,NaN,NaN,NaT,NaT,1.211679,2.133179,0.0,0.0,0.0,2.0,10.0
P26,137.0,NaN,NaN,NaN,NaT,NaT,1.470803,2.612024,0.0,0.0,0.0,2.5,12.5
P27,137.0,NaN,NaN,NaN,NaT,NaT,1.145985,2.067039,0.0,0.0,0.0,2.0,12.5
P28,137.0,NaN,NaN,NaN,NaT,NaT,3.222628,2.308806,1.0,2.0,2.5,4.0,12.5
P29,137.0,NaN,NaN,NaN,NaT,NaT,3.135036,1.680887,0.0,2.5,3.0,3.0,7.5
P30,137.0,NaN,NaN,NaN,NaT,NaT,2.729927,5.536647,0.0,0.0,0.0,4.0,25.0
P31,137.0,NaN,NaN,NaN,NaT,NaT,1.941606,3.512093,0.0,0.0,0.0,3.0,15.0
P32,137.0,NaN,NaN,NaN,NaT,NaT,2.525547,5.230117,0.0,0.0,0.0,3.0,25.0
P33,137.0,NaN,NaN,NaN,NaT,NaT,1.138686,1.69854,0.0,0.0,0.0,2.0,6.0
P34,137.0,NaN,NaN,NaN,NaT,NaT,2.489051,5.165093,0.0,0.0,0.0,3.0,24.0
P35,137.0,NaN,NaN,NaN,NaT,NaT,2.029197,3.436272,0.0,0.0,0.0,4.0,15.0
P36,137.0,NaN,NaN,NaN,NaT,NaT,2.211679,4.168211,0.0,0.0,0.0,3.0,20.0
P37,137.0,NaN,NaN,NaN,NaT,NaT,1.116788,1.790768,0.0,0.0,0.0,2.0,8.0
revenue,137.0,NaN,NaN,NaN,NaT,NaT,4453532.613139,2576071.595708,1149870.0,2999068.0,3939804.0,5166635.0,19696939.0

* Data goes from 1996-05-08 to 2014-01-25
* Istanbul appears with the most frequency and also the city group "Big cities".

#### Merging data frames

In [25]:
data = test.merge(train, how = "outer")
data

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,2011-01-22,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,NaN
1,1,2011-03-18,Konya,Other,IL,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,NaN
2,2,2013-10-30,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,NaN
3,3,2013-05-06,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,3.0,0,4,0,0,0,0,0,0,NaN
4,4,2013-07-31,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100132,132,2008-06-25,Trabzon,Other,FC,2,3.0,3.0,5.0,4,...,3.0,0,0,0,0,0,0,0,0,5787594.0
100133,133,2006-10-12,İzmir,Big Cities,FC,4,5.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,9262754.0
100134,134,2006-07-08,Kayseri,Other,FC,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,2544857.0
100135,135,2010-10-29,İstanbul,Big Cities,FC,4,5.0,4.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,7217634.0
100136,136,2009-09-01,İstanbul,Big Cities,FC,4,5.0,3.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,6363241.0